<% if (error) { %>
 
     <section class="position-sticky top-0">
        <div class="alert alert-danger d-flex align-items-center">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <div id="erro-msg">

                <%= error %>
    
            </div>
        </div>
    </section>

<% } %>

<div class="container pt-5 pb-3">

    <%- include('./includes/inicio') %>

    <%- include('./includes/historia') %>

    <%- include('./includes/curiosidade') %>

    <%- include('./includes/sobre') %>

    <%- include('./includes/comentarios') %>

</div>